/****** Script for SelectTopNRows command from SSMS  ******/
UPDATE [mig].[MIGRN_ALL] SET
 [recnumber] = RTRIM(LTRIM([recnumber])),
     [delflag]= RTRIM(LTRIM([delflag])),
     [reftype]= RTRIM(LTRIM([reftype] )),
     [recfin]= RTRIM(LTRIM([recfin] )),
     [recfindate]= RTRIM(LTRIM([recfindate] )),
     [unregloc]= RTRIM(LTRIM([unregloc] )),
     [locrec]= RTRIM(LTRIM([locrec] )),
     [URNO]= RTRIM(LTRIM([URNO] )),
     [lname]= RTRIM(LTRIM([lname] )),
     [FNAME]= RTRIM(LTRIM([FNAME] )),
     [dob]= RTRIM(LTRIM([dob] )),
     [Male]= RTRIM(LTRIM([Male] )),
     [Female]= RTRIM(LTRIM([Female] )),
     [marital]= RTRIM(LTRIM([marital] )),
     [Address]= RTRIM(LTRIM([Address] )),
     [town]= RTRIM(LTRIM([town] )),
     [state]= RTRIM(LTRIM([state] )),
     [patphone]= RTRIM(LTRIM([patphone] )),
     [gp]= RTRIM(LTRIM([gp] )),
     [gpphone]= RTRIM(LTRIM([gpphone] )),
     [abo]= RTRIM(LTRIM([abo] )),
     [tsi]= RTRIM(LTRIM([tsi] )),
     [cob]= RTRIM(LTRIM([cob] )),
     [nation]= RTRIM(LTRIM([nation] )),
     [flang]= RTRIM(LTRIM([flang] )),
     [interpyes]= RTRIM(LTRIM([interpyes] )),
     [interpno]= RTRIM(LTRIM([interpno] )),
     [parent]= RTRIM(LTRIM([parent] )),
     [nok]= RTRIM(LTRIM([nok] )),
     [nokrelat]= RTRIM(LTRIM([nokrelat] )),
     [nokaddr]= RTRIM(LTRIM([nokaddr] )),
     [noktown]= RTRIM(LTRIM([noktown] )),
     [nokstate]= RTRIM(LTRIM([nokstate] )),
     [nokphone]= RTRIM(LTRIM([nokphone] )),
     [gpawareyes]= RTRIM(LTRIM([gpawareyes] )),
     [gpawareno]= RTRIM(LTRIM([gpawareno] )),
     [clientawareyes]= RTRIM(LTRIM([clientawareyes] )),
     [clientawareno]= RTRIM(LTRIM([clientawareno] )),
     [refdate]= RTRIM(LTRIM([refdate] )),
     [reftime]= RTRIM(LTRIM([reftime] )),
     [refname]= RTRIM(LTRIM([refname] )),
     [reforigin]= RTRIM(LTRIM([reforigin] )),
     [refrelat]= RTRIM(LTRIM([refrelat] )),
     [refcontact]= RTRIM(LTRIM([refcontact] )),
     [refmedium]= RTRIM(LTRIM([refmedium] )),
     [amhsreg]= RTRIM(LTRIM([amhsreg] )),
     [respcat]= RTRIM(LTRIM([respcat] )),
     [resptxt]= RTRIM(LTRIM([resptxt] )),
     [pastcon]= RTRIM(LTRIM([pastcon] )),
     [rapnosearch]= RTRIM(LTRIM([rapnosearch] )),
     [rapnotfound]= RTRIM(LTRIM([rapnotfound] )),
     [rapfound]= RTRIM(LTRIM([rapfound] )),
     [rapdx]= RTRIM(LTRIM([rapdx] )),
     [accserv]= RTRIM(LTRIM([accserv] )),
     [notaccserv]= RTRIM(LTRIM([notaccserv] )),
     [serv]= RTRIM(LTRIM([serv] )),
     [oth]= RTRIM(LTRIM([oth] )),
     [faxyes]= RTRIM(LTRIM([faxyes] )),
     [faxno]= RTRIM(LTRIM([faxno] )),
     [faxdate]= RTRIM(LTRIM([faxdate] )),
     [discussyes]= RTRIM(LTRIM([discussyes] )),
     [discussno]= RTRIM(LTRIM([discussno] )),
     [discusstime]= RTRIM(LTRIM([discusstime] )),
     [triclin]= RTRIM(LTRIM([triclin] )),
     [contdur]= RTRIM(LTRIM([contdur] )),
     [signoff]= RTRIM(LTRIM([signoff] )),
     [signoffdate]= RTRIM(LTRIM([signoffdate] )),
     [prog]= RTRIM(LTRIM([prog] )),
     [medium]= RTRIM(LTRIM([medium] )),
     [locat]= RTRIM(LTRIM([locat] )),
     [servrecpt]= RTRIM(LTRIM([servrecpt] )),
     [servresp]= RTRIM(LTRIM([servresp] )),
     [servdate]= RTRIM(LTRIM([servdate] )),
     [servtime]= RTRIM(LTRIM([servtime] )),
     [KID]= RTRIM(LTRIM([KID] )),
     [PRO]= RTRIM(LTRIM([PRO] )),
     [MED]= RTRIM(LTRIM([MED] )),
     [REQ]= RTRIM(LTRIM([REQ] )),
     [CMI]= RTRIM(LTRIM([CMI] )),
     [ALT]= RTRIM(LTRIM([ALT] )),
     [CRI]= RTRIM(LTRIM([CRI] )),
     [WAR]= RTRIM(LTRIM([WAR] )),
     [AGY]= RTRIM(LTRIM([AGY] )),
     [CON]= RTRIM(LTRIM([CON] )),
     [INV]= RTRIM(LTRIM([INV] )),
     [PAS]= RTRIM(LTRIM([PAS] )),
     [TRI]= RTRIM(LTRIM([TRI] )),
     [DET]= RTRIM(LTRIM([DET] )),
     [OUT]= RTRIM(LTRIM([OUT] )),
     [CNO]= RTRIM(LTRIM([CNO] )),
     [SAV]= RTRIM(LTRIM([SAV] )),
     [COM]= RTRIM(LTRIM([COM] )),
     [FOR]= RTRIM(LTRIM([FOR] )),
     [EPY]= RTRIM(LTRIM([EPY] )),
     [EPN]= RTRIM(LTRIM([EPN] )),
     [EPP]= RTRIM(LTRIM([EPP] )),
     [HIN]= RTRIM(LTRIM([HIN] )),
     [HIY]= RTRIM(LTRIM([HIY] )),
     [Suicidality]= RTRIM(LTRIM([Suicidality] )),
     [Deliberate Self Harm]= RTRIM(LTRIM([Deliberate Self Harm] )),
     [Aggression]= RTRIM(LTRIM([Aggression] )),
     [Risk to Others]= RTRIM(LTRIM([Risk to Others] )),
     [Avoiding Contact]= RTRIM(LTRIM([Avoiding Contact] )),
     [Substance Abuse]= RTRIM(LTRIM([Substance Abuse] )),
     [Inapprop.Sexual Behaviour]= RTRIM(LTRIM([Inapprop.Sexual Behaviour] )),
     [Cognitive Impairment]= RTRIM(LTRIM([Cognitive Impairment] )),
     [Serious Medical Condition]= RTRIM(LTRIM([Serious Medical Condition] )),
     [Level of Non-compliance]= RTRIM(LTRIM([Level of Non-compliance] )),
     [Cultural Risk]= RTRIM(LTRIM([Cultural Risk] )),
     [Vulnerability to Exploitation]= RTRIM(LTRIM([Vulnerability to Exploitation] )),
     [Falls]= RTRIM(LTRIM([Falls] )),
     [Other (specify)]= RTRIM(LTRIM([Other (specify)] )),
     [Referrers Risk Assessment]= RTRIM(LTRIM([Referrers Risk Assessment] )),
     [OVERALL RISK RATING]= RTRIM(LTRIM([OVERALL RISK RATING] )),
     [Suicidality Rx]= RTRIM(LTRIM([Suicidality Rx] )),
     [Deliberate Self Harm Rx]= RTRIM(LTRIM([Deliberate Self Harm Rx] )),
     [Aggression Rx]= RTRIM(LTRIM([Aggression Rx] )),
     [Risk to Others Rx]= RTRIM(LTRIM([Risk to Others Rx] )),
     [Avoiding Contact Rx]= RTRIM(LTRIM([Avoiding Contact Rx] )),
     [Substance Abuse Rx]= RTRIM(LTRIM([Substance Abuse Rx] )),
     [Inapprop.Sexual Behaviour Rx]= RTRIM(LTRIM([Inapprop.Sexual Behaviour Rx] )),
     [Cognitive Impairment Rx]= RTRIM(LTRIM([Cognitive Impairment Rx] )),
     [Serious Medical Condition Rx]= RTRIM(LTRIM([Serious Medical Condition Rx] )),
     [Level of Non-compliance Rx]= RTRIM(LTRIM([Level of Non-compliance Rx] )),
     [Cultural Risk Rx]= RTRIM(LTRIM([Cultural Risk Rx] )),
     [Vulnerability to Exploitation Rx]= RTRIM(LTRIM([Vulnerability to Exploitation Rx]  )),
     [Falls Rx]= RTRIM(LTRIM([Falls Rx] )),
     [Other (specify) Rx]= RTRIM(LTRIM([Other (specify) Rx] )),
     [Referrers Risk Assessment Rx]= RTRIM(LTRIM([Referrers Risk Assessment Rx] )),
     [OVERALL RISK RATING Rx]= RTRIM(LTRIM([OVERALL RISK RATING Rx]))
 